.card{
  &-members{
    background: $card-bg;
    padding-top: 2rem;
    padding-bottom: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
  &-title{
    margin-top: 3.25rem;
  }
  &-description{
    margin-top: 2rem;
  }
  &-img{
    margin-top: 2rem;
  }
  &-managment{
    margin-top: 5.25rem;
  }
  &-last{
    margin-top: 2.5rem;
  }
}