.header{
  &-list{
    margin-left: 18.25rem;
    li{
      margin-left: 1.5rem;
  }
  a{
    @include rfs(13.33px)
  }
}
.btn{
  &-first{
    color: $green;
  }
  &-second{
    color: $white;
    background-color: $green;
  }
}

}