.header{
  li{
  margin-left: 1.5rem;
}
ul{
  margin-left: 18.25rem;
}
a{
  @include rfs(13.33px)
}
.btn{
  &-first{
    color: green;
  }
  &-second{
    color: white;
    background-color: green;
  }
}
}