.header{
  display: flex;  
  justify-content: space-between;
  padding: 1rem 8rem;
  &-list{
  display: flex;
  align-items: center;
  
}
li{
  margin-left: 1.5rem;
  list-style-type: none;

}
a{
  @include rfs(13.33px)
}
}