.product{
    background-image: url("./assets/images/product.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10.75rem;
    padding-left: 12.5rem;
    padding-bottom: 13rem;
    color: white;
}