.product{
    &-title1{
        font-size: 2rem;
    }
    &-title2{
        font-size: 3rem;
        color: $product-tc;
    }
    &-content{
        min-height: 35.5rem;   
        vertical-align: middle; 
    }
    &-image{
        width: 45.5rem;
        height: 35.5rem;
    }
}