.fitToCard{
  font-size: 0.75rem;
}
.managmentTeam{
  margin-top: 5.25rem;
}
.mt-6{
  margin-top: 2.5rem;
}
.mb-6{
  margin-bottom: 2.5rem;
}
.container-members{
  background: #F4F4F4;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
}